
<!-- Modal -->
<div class="modal fade product-item" style="width:90%;" id="productItemModal" tabindex="-1" role="dialog" aria-labelledby="productItemModalTitle" aria-hidden="true">
  <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productItemModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      <div id="productItemModalWrapper">

       <!--<img src="" alt="" id="productItemImg"/> -->
       <div class="product-images-container">

       </div>

      <div id="productDetail">

       <p> Price: <span class="item-price"> </span> </p>

       <p> Size: <span class="item-size"> </span> </p>

       <p> Quantity <span class="item-quantity"> </span> </p>

       <p id="productItemDescription">  </p>

      </div>

       <ul class="nav rating">
      <li class="star-product" data-star="1"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="2"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="3"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="4"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="5"><i class="far fa-star"></i></li>
    </ul>

      <div class="product-actions">

      <button type="button" class="btn btn-primary"> buy now </button>
      <button type="button" class="btn btn-success add-cart" data-cart-id=""> add to cart </button>

      <div class="author-actions" style="display:none;">

      <button type="button" class="btn btn-danger delete-product"> Delete </button>
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">

      <button type="button" class="btn btn-warning edit-product"> Edit </button>

      </div>

      </div>

      <div id="comment-section" style="margin-top:50px;">

      <form id="commentForm" style="display:none;">

      <div class="row">

      <div class="col-md-8">

      <textarea id="commentText" class="form-control" rows="3" cols="33" >

      </textarea>

      <div>

      <div class="col-md-2">

      <button type="submit" class="btn btn-primary"> Comment </button>

      </div>

      </div>

      </form>

      </div>

      <div id="listComments" style="display:none">

      </div>

      </div>

       <form action="/charge" method="post" id="payment-form">
       <!-- start of the delivery address div -->
       
       <div class="tab">

             Delivery Address
             <input type="text" name="fullName" id="fulllName" class="form-control" placeholder="your full name" required />
             <input type="text" name="careOf" id="careOf" class="form-control" placeholder="c/o"/>
             <input type="text" name="street" id="street" class="form-control" required placeholder="street and house number"/>
             <input type="text" name="city" id="city" class="form-control" placeholder="Town/City" />
             <input type="text" name="postalCode" class="form-control" placeholder="Postcode" />
             <input type="text" name="phoneNumber" class="form-control" placeholder="Phone number" />
             <p>Add delivery instructions (optional) </p>
             <textarea name="instructions" id="instructions" class="form-control" placeholder="do we need additional instructions to find this address">
              </textarea>
        </div>
        
       <!-- end of the delivery address div -->

       <!-- start of the stripe pament div -->
       <div class="tab">
       <div class="form-row">
       <label for="card-element">
        Credit or debit card
        </label>
       <div id="card-element" class="form-control">
       <!-- A Stripe Element will be inserted here. -->
       </div>

       <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
      </div>

     <button>Submit Payment</button>
     </div>
     </div>

     <!-- begining of the navigation tabs -->

     <div style="overflow:auto;">
         <div style="float:right;">
             <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
             <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
         </div>
     </div>

     <!-- Circles which indicates the steps of the form: -->
     <div style="text-align:center;margin-top:40px;">
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
     </div>

     <!-- end of the navigation tabs -->
    </form>
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary checkout">Proceed Checkout</button>
      </div>
      
    </div>
  </div>
</div>