<!-- Modal -->
<div class="modal fade" id="productNewModal" tabindex="-1" role="dialog" aria-labelledby="productNewModalTitle" aria-hidden="true" width="90%">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productNewModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalProductNewBody" style="padding:50px;">

        <div class="response-status"> </div>
        <!--
      <form id="newProductForm" method="post" enctype="multipart/form-data">
          <div class="form-group row">
              <input type="text" name="name" id="productName" class="form-control" placeholder="name " />
          </div>
          
          <div class="form-group row">
              <input type="number" name="price" id="productPrice" min="0" step="10" class="form-control" placeholder="price" />
          </div>

          <div class="form-group row">
              <input type="number" name="quantity" id="productQt" min="0" class="form-control" placeholder="quantity" />
          </div>

          <div class="form-group row">
              <input type="number" name="size" id="productSize" min="0" class="form-control" placeholder="size" />
          </div>

          <div class="form-group row">
          <select name="shop" id="productShop" class="form-control"> 
          </select>
          </div>

          <div class="form-group row">
              <textarea name="description" class="form-control" id="productDescription">

              </textarea>
          </div>

           <div class="form-group row">
              <input type="text" name="category" id="productCategory" class="form-control" placeholder="category" />
          </div> 
          
          <div class="form-group row">
          <select name="category" id="productCategory" class="form-control"> 
          </select>
          </div>

          <div class="form-group row">
              <div class="input-group mb-3">  
              <input type="text" name="tags" id="productTags" class="form-control" placeholder="tags" aria-describedby="tags-addon" data-role="tagsinput"/>
              <div class="input-group-append">
              <span class="input-group-text" id="tags-addon">
              <span class="fa fa-tags" aria-hidden="true"></span>
              </span>
              </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="productImage"> Uplaod </label>
              <input type="file" name="productImage" id="productImage" class="form-control" accept=".png, .jpg, .jpeg" multiple />
          </div>
          
          <div class="preview">
              <p>No files currently selected for upload</p>
          </div>
      </form>

        -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary create-product">Save</button>
      </div>
    </div>
  </div>
</div>