
<!-- Modal -->
<div class="modal fade product-item" id="productItemModal" tabindex="-1" role="dialog" aria-labelledby="productItemModalTitle" aria-hidden="true">
  <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productItemModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      <div id="productItemModalWrapper">

       <img src="" alt="" id="productItemImg"/>

      <div id="productDetail">

       <p> Price: <span class="item-price"> </span> </p>

       <p> Size: <span class="item-size"> </span> </p>

       <p> Quantity <span class="item-quantity"> </span> </p>

       <p id="productItemDescription">  </p>

      </div>

       <ul class="nav rating">
      <li class="star-product" data-star="1"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="2"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="3"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="4"><i class="fas fa-star"></i></li>
      <li class="star-product" data-star="5"><i class="far fa-star"></i></li>
    </ul>

      <div class="product-actions">

      <button type="button" class="btn btn-primary"> buy now </button>
      <button type="button" class="btn btn-success add-cart" data-cart-id=""> add to cart </button>

      <div class="author-actions" style="display:none;">

      <button type="button" class="btn btn-danger delete-product"> Delete </button>
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">

      <button type="button" class="btn btn-warning edit-product"> Edit </button>

      </div>

      </div>

      <div id="comment-section" style="margin-top:50px;">

      <form id="commentForm" style="display:none;">

      <div class="row">

      <div class="col-md-8">

      <textarea id="commentText" class="form-control" rows="3" cols="33" >

      </textarea>

      <div>

      <div class="col-md-2">

      <button type="submit" class="btn btn-primary"> Comment </button>

      </div>

      </div>

      </form>

      </div>

      <div id="listComments" style="display:none">

      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>