{% extends 'base.html.twig' %}

{% block title %}New CommentRating{% endblock %}

{% block body %}
    <h1>Create new CommentRating</h1>

    {{ include('comment_rating/_form.html.twig') }}

    <a href="{{ path('comment_rating_index') }}">back to list</a>
{% endblock %}
