.cart-selected {
    color: blue;
}


#productItemImg {
    width: 400px;
    height: 300px;
}

 .preview img {

    max-width: 200px;
    max-height: 200px;
}

.product-item-wrapper {

    padding-bottom: 10px;
    margin-bottom: 10px;
}

#result {
    position: absolute;
    width: 100%;
    cursor: pointer;
    overflow: auto;
    max-height: auto;
    box-sizing: border-box;
    z-index: 1001;
}
