{% extends 'base.html.twig' %}

{% block title %}New WhishLists{% endblock %}

{% block body %}
    <h1>Create new WhishLists</h1>

    {{ include('whish_lists/_form.html.twig') }}

    <a href="{{ path('whish_lists_index') }}">back to list</a>
{% endblock %}
