{# {% extends 'base.html.twig' %} 

{% block title %}New Shop{% endblock %}

{% block body %} #}
   <div>
    <h1>Create new Shop</h1>

    {{ include('shop/_form.html.twig') }}
    </div>

   {# <a href="{{ path('shop_index') }}">back to list</a>
{% endblock %} #}
