{% apply inky_to_html|inline_css(source('@css/email.css'))%}

    <container>
        <row class="header">
            <columns>
                <spacer size="16"> </spacer>
                <h1 class="text-center"> Hi {{username}} . You have forgotten your password, no problem. </h1>
            </columns>
        </row>

        <row class="body">
            <columns>
             <p> Please enter the following code to proceed the validation </P>
             <h2> {{token}} </h2>
            </columns>
        </row>
    </container>

{% endapply %}