{% extends 'base.html.twig' %}

{% block title %}New CommentsReply{% endblock %}

{% block body %}
    <h1>Create new CommentsReply</h1>

    {{ include('comments_reply/_form.html.twig') }}

    <a href="{{ path('comments_reply_index') }}">back to list</a>
{% endblock %}
