{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="example-wrapper">
        <h2> {{app.user.username}} </h2>

        {% if(app.user.avatar) %}

        <img src="{{app.user.avatar.finalpath}}" />

        {% endif %}
</div>

<ul>
    <li>
         <a href="{{path('user_edit')}}"> Edit profile </a>
    </li>

    <li>
        <a href="{{path('user_change_password')}}"> Change Password </a>
    </li>
</ul>

{% endblock %}
